
.logo{
    position: absolute;
    background-color: transparent;
    z-index: 5;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 100px;
    margin-top: 10px;

}

.fa-solid{
    font-size: 250px;
}










.menu-list  {
    display: flex;
    gap: 50px;
    font-size: 25px;
    width: 100vh;


}

.int{
    background-color: #FFF;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 50px;
    box-decoration-break: clone;
    border-color: #F15060;
    border-style: solid;
    padding: 20px;
}

.int_item-list{
    margin-top: 8px;
    font-size: 18px;
}

.num_index1{
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
    background-color: #F15060;
    color: #151515;
    font-size: 25px;
}

.num_index2{
    padding-left: 19px;
    padding-right: 19px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 50%;
    background-color: #F15060;
    color: #151515;
    font-size: 25px;
}

.num_text{
    font-size: 30px;
}

.item_text{
    background-color: #FFF;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    box-decoration-break: clone;
    border-color: #F15060;
    border-style: solid;
    padding: 10px;
}


.svg{
    font-size: 30px;
}
